.popup__button{
  background-color: #000;
  border: 2px solid #000;
  color: #ffffff;
  width: 100%;
  max-width: 358px;
  min-height: 50px;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 48px 0 0;
}

.popup__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 660px) {
  .popup__button {
    min-height: 46px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 45px;
  }
}
