.header{
  max-width: 880px;
  padding-top: 45px;
  padding-bottom: 36.25px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 425px) {
  .header {
    padding-top: 28px;
    padding-bottom: 38.25px;
  }
}