.profile__avatar-container {
  position: relative;
  margin-right: 30px;
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

@media screen and (max-width: 620px) {
  .profile__avatar-container {
    margin-right: 0;
    margin-bottom: 22.25px;
  }
}
